<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <!-- Bootstrap + Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

  <!-- CSS riêng -->
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="app">
    {{> header}}

    <!-- MAIN LAYOUT -->  
    <div class="main-layout">
      <div class="sidebar">
        <ul>
            <h1> </h1>

            <li><a href="/home" class="nav-link"><i class="bx bxs-home"></i><span class="item-txt">Home</span></a></li>
            
            <li><a href="/home/users" class="nav-link"><i class="bx bxs-user"></i><span class="item-txt">User</span></a></li>
            
            <li><a href="/roles" class="nav-link"><i class="bx bxs-info-circle"></i><span class="item-txt">Roles</span></a></li>

            <li><a href="/roles/permission" class="nav-link"><i class="bx bx-key"></i><span class="item-txt">Permission</span></a></li>

            <li><a></a></li>

            <li><a href="/news" class="nav-link"><i class="bx bx-news"></i><span class="item-txt">News</span></a></li>
            
            <li><a href="/friends" class="nav-link"><i class="bx bxs-contact"></i><span class="item-txt">Friends</span></a></li>

            <li><a href="/friends/my-friends" class="nav-link"><i class="bx bx-user"></i><span class="item-txt">My Friends</span></a></li>

            <li><a href="/friends/notification" class="nav-link"><i class="bx bx-bell"></i><span class="item-txt">Notification</span></a></li>

            <li><a href="/home/my-profile" class="nav-link"><i class="bx bx-id-card"></i><span class="item-txt">My Profile</span></a></li>

        </ul>
      </div>

      <div class="content">
        {{{body}}}
      </div>
    </div>

    {{> footer}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
